
CREATE DATABASE erp;
USE erp;

-- User & Role system

CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(150) UNIQUE NOT NULL,
    password_hash TEXT NOT NULL,
    role VARCHAR(50) NOT NULL, -- admin, procurement, inventory, production, qc, sales
    created_at TIMESTAMP DEFAULT NOW()
);

-- PROCUREMENT MODULE
-- supplier

CREATE TABLE suppliers (
    id SERIAL PRIMARY KEY,
    name VARCHAR(150),
    contact_person VARCHAR(100),
    phone VARCHAR(50),
    email VARCHAR(150),
    address TEXT
);

-- raw_materials

CREATE TABLE raw_materials (
    id SERIAL PRIMARY KEY,
    name VARCHAR(150),
    description TEXT,
    unit VARCHAR(50) -- kg, meter, piece
);

-- purchase_orders

CREATE TABLE purchase_orders (
    id SERIAL PRIMARY KEY,
    supplier_id INT REFERENCES suppliers(id),
    order_date DATE DEFAULT NOW(),
    status VARCHAR(50) DEFAULT 'pending', -- pending, approved, delivered
    total_cost NUMERIC(12,2)
);

-- purchase_order_items

CREATE TABLE purchase_order_items (
    id SERIAL PRIMARY KEY,
    purchase_order_id INT REFERENCES purchase_orders(id),
    raw_material_id INT REFERENCES raw_materials(id),
    quantity NUMERIC(12,2),
    unit_cost NUMERIC(12,2)
);


-- INVENTORY MODULE
-- inventory

CREATE TABLE inventory (
    id SERIAL PRIMARY KEY,
    raw_material_id INT REFERENCES raw_materials(id),
    current_stock NUMERIC(12,2) DEFAULT 0,
    last_updated TIMESTAMP DEFAULT NOW()
);

-- stock_movements

CREATE TABLE stock_movements (
    id SERIAL PRIMARY KEY,
    raw_material_id INT REFERENCES raw_materials(id),
    quantity NUMERIC(12,2),
    movement_type VARCHAR(20), -- IN or OUT
    reference_type VARCHAR(50), -- purchase, production, qc
    reference_id INT,
    movement_date TIMESTAMP DEFAULT NOW()
);


-- PRODUCTION MODULE
-- production_orders

CREATE TABLE production_orders (
    id SERIAL PRIMARY KEY,
    order_code VARCHAR(100) UNIQUE,
    planned_start DATE,
    planned_end DATE,
    status VARCHAR(50) DEFAULT 'pending'
);

-- production_phases

CREATE TABLE production_phases (
    id SERIAL PRIMARY KEY,
    production_order_id INT REFERENCES production_orders(id),
    phase_name VARCHAR(100), -- cutting, stitching, washing, ironing
    status VARCHAR(50) DEFAULT 'pending',
    start_time TIMESTAMP,
    end_time TIMESTAMP
);

-- QUALITY CONTROL MODULE
-- qc_checks

CREATE TABLE qc_checks (
    id SERIAL PRIMARY KEY,
    production_order_id INT REFERENCES production_orders(id),
    phase VARCHAR(100),
    defects_found INT,
    passed BOOLEAN,
    checked_at TIMESTAMP DEFAULT NOW()
);

-- SALES & SHIPPING MODULE
-- customers

CREATE TABLE customers (
    id SERIAL PRIMARY KEY,
    name VARCHAR(150),
    email VARCHAR(150),
    phone VARCHAR(50),
    address TEXT
);


--sales_orders

CREATE TABLE sales_orders (
    id SERIAL PRIMARY KEY,
    customer_id INT REFERENCES customers(id),
    order_date DATE DEFAULT NOW(),
    status VARCHAR(50) DEFAULT 'processing'
);

-- shipments

CREATE TABLE shipments (
    id SERIAL PRIMARY KEY,
    sales_order_id INT REFERENCES sales_orders(id),
    shipment_date DATE,
    tracking_number VARCHAR(100),
    feedback TEXT
);
